<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if yield(:title).present? %>
        <%= yield(:title) %> - BIGBAG Store
      <% else %>
        BIGBAG Store
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= render 'layouts/modals' %>
  </body>
</html>
